[submodule "sources_non_forked/ack.vim"]
	path = sources_non_forked/ack.vim
	url = git@github.com:mileszs/ack.vim.git
[submodule "sources_non_forked/ag.vim"]
	path = sources_non_forked/ag.vim
	url = git@github.com:rking/ag.vim.git
[submodule "sources_non_forked/lightline"]
	path = sources_non_forked/lightline
	url = git@github.com:itchyny/lightline.vim.git
[submodule "sources_non_forked/palenlight"]
	path = sources_non_forked/palenlight
	url = https://github.com/drewtempelmeyer/palenight.vim
[submodule "sources_non_forked/vim-solarized8"]
	path = sources_non_forked/vim-solarized8
	url = https://github.com/lifepillar/vim-solarized8
[submodule "sources_non_forked/nord-vim"]
	path = sources_non_forked/nord-vim
	url = https://github.com/arcticicestudio/nord-vim
[submodule "sources_non_forked/vim-hybrid"]
	path = sources_non_forked/vim-hybrid
	url = https://github.com/w0ng/vim-hybrid
[submodule "sources_non_forked/ayu-vim"]
	path = sources_non_forked/ayu-vim
	url = git@github.com:ayu-theme/ayu-vim.git
[submodule "sources_non_forked/auto-pairs"]
	path = sources_non_forked/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule "sources_non_forked/bufexplorer"]
	path = sources_non_forked/bufexplorer
	url = git@github.com:jlanzarotta/bufexplorer.git
[submodule "sources_non_forked/emmet-vim"]
	path = sources_non_forked/emmet-vim
	url = https://github.com/mattn/emmet-vim
[submodule "sources_non_forked/fzf.vim"]
	path = sources_non_forked/fzf.vim
	url = git@github.com:junegunn/fzf.vim.git
[submodule "sources_non_forked/goyo.vim"]
	path = sources_non_forked/goyo.vim
	url = https://github.com/junegunn/goyo.vim
[submodule "sources_non_forked/limelight.vim"]
	path = sources_non_forked/limelight.vim
	url = git@github.com:junegunn/limelight.vim.git
[submodule "sources_non_forked/vim-zenroom2"]
	path = sources_non_forked/vim-zenroom2
	url = git@github.com:amix/vim-zenroom2.git
[submodule "sources_non_forked/nerdtree"]
	path = sources_non_forked/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "sources_non_forked/coc.nvim"]
	path = sources_non_forked/coc.nvim
	url = git@github.com:neoclide/coc.nvim.git
[submodule "sources_non_forked/ale"]
	path = sources_non_forked/ale
	url = git@github.com:w0rp/ale.git
[submodule "sources_non_forked/ultisnips"]
	path = sources_non_forked/ultisnips
	url = git@github.com:SirVer/ultisnips.git
[submodule "sources_non_forked/vim-snippets"]
	path = sources_non_forked/vim-snippets
	url = git@github.com:honza/vim-snippets.git
[submodule "sources_non_forked/vim-arpeggio"]
	path = sources_non_forked/vim-arpeggio
	url = git@github.com:kana/vim-arpeggio.git
[submodule "sources_non_forked/vim-commentary"]
	path = sources_non_forked/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule "sources_non_forked/vim-easymotion"]
	path = sources_non_forked/vim-easymotion
	url = git@github.com:easymotion/vim-easymotion.git
[submodule "sources_non_forked/vim-endwise"]
	path = sources_non_forked/vim-endwise
	url = git@github.com:tpope/vim-endwise.git
[submodule "sources_non_forked/vim-expand-region"]
	path = sources_non_forked/vim-expand-region
	url = git@github.com:terryma/vim-expand-region.git
[submodule "sources_non_forked/vim-fugitive"]
	path = sources_non_forked/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "sources_non_forked/vim-gitgutter"]
	path = sources_non_forked/vim-gitgutter
	url = git@github.com:airblade/vim-gitgutter.git
[submodule "sources_non_forked/vim-surround"]
	path = sources_non_forked/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "sources_non_forked/vim-visual-multi"]
	path = sources_non_forked/vim-visual-multi
	url = https://github.com/mg979/vim-visual-multi
[submodule "sources_non_forked/vimux"]
	path = sources_non_forked/vimux
	url = git@github.com:benmills/vimux.git
[submodule "sources_non_forked/vim-coffee-script"]
	path = sources_non_forked/vim-coffee-script
	url = git@github.com:kchmck/vim-coffee-script.git
[submodule "sources_non_forked/vim-javascript"]
	path = sources_non_forked/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule "sources_non_forked/vim-jsx"]
	path = sources_non_forked/vim-jsx
	url = git@github.com:mxw/vim-jsx.git
[submodule "sources_non_forked/vim-less"]
	path = sources_non_forked/vim-less
	url = git@github.com:groenewege/vim-less.git
[submodule "sources_non_forked/vim-markdown"]
	path = sources_non_forked/vim-markdown
	url = git@github.com:tpope/vim-markdown.git
[submodule "sources_non_forked/vim-go"]
	path = sources_non_forked/vim-go
	url = git@github.com:fatih/vim-go.git
[submodule "sources_non_forked/vim-bundler"]
	path = sources_non_forked/vim-bundler
	url = https://github.com/tpope/vim-bundler
[submodule "sources_non_forked/vim-rails"]
	path = sources_non_forked/vim-rails
	url = https://github.com/tpope/vim-rails
[submodule "sources_non_forked/vim-dispatch"]
	path = sources_non_forked/vim-dispatch
	url = git@github.com:tpope/vim-dispatch.git
[submodule "sources_non_forked/nginx"]
	path = sources_non_forked/nginx
	url = git@github.com:chr4/nginx.vim.git
[submodule "vim-devicons"]
	path = vim-devicons
	url = /Users/guille/dev/dotfiles/vim-environment/sources_non_forked/vim-devicons
[submodule "comfortable-motion.vim"]
	path = comfortable-motion.vim
	url = /Users/guille/dev/dotfiles/vim-environment/sources_non_forked/comfortable-motion.vim
[submodule "incsearch.vim"]
	path = incsearch.vim
	url = /Users/guille/dev/dotfiles/vim-environment/sources_non_forked/incsearch.vim
[submodule "incsearch-fuzzy.vim"]
	path = incsearch-fuzzy.vim
	url = /Users/guille/dev/dotfiles/vim-environment/sources_non_forked/incsearch-fuzzy.vim
[submodule "incsearch-easymotion.vim"]
	path = incsearch-easymotion.vim
	url = /Users/guille/dev/dotfiles/vim-environment/sources_non_forked/incsearch-easymotion.vim
[submodule "material.vim"]
	path = material.vim
	url = /Users/guille/dev/dotfiles/vim-environment/sources_non_forked/material.vim
[submodule "vim-textobj-rubyblock"]
	path = vim-textobj-rubyblock
	url = /Users/guille/dev/dotfiles/vim-environment/sources_non_forked/vim-textobj-rubyblock
[submodule "vim-textobj-user"]
	path = vim-textobj-user
	url = /Users/guille/dev/dotfiles/vim-environment/sources_non_forked/vim-textobj-user
