[submodule "sources_non_forked/ack.vim"]
	path = sources_non_forked/ack.vim
	url = git@github.com:mileszs/ack.vim.git
[submodule "sources_non_forked/ag.vim"]
	path = sources_non_forked/ag.vim
	url = git@github.com:rking/ag.vim.git
[submodule "sources_non_forked/lightline"]
	path = sources_non_forked/lightline
	url = git@github.com:itchyny/lightline.vim.git
[submodule "sources_non_forked/palenlight"]
	path = sources_non_forked/palenlight
	url = https://github.com/drewtempelmeyer/palenight.vim
[submodule "sources_non_forked/vim-solarized8"]
	path = sources_non_forked/vim-solarized8
	url = https://github.com/lifepillar/vim-solarized8
[submodule "sources_non_forked/nord-vim"]
	path = sources_non_forked/nord-vim
	url = https://github.com/arcticicestudio/nord-vim
[submodule "sources_non_forked/vim-hybrid"]
	path = sources_non_forked/vim-hybrid
	url = https://github.com/w0ng/vim-hybrid
[submodule "sources_non_forked/ayu-vim"]
	path = sources_non_forked/ayu-vim
	url = git@github.com:ayu-theme/ayu-vim.git
[submodule "sources_non_forked/auto-pairs"]
	path = sources_non_forked/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule "sources_non_forked/bufexplorer"]
	path = sources_non_forked/bufexplorer
	url = git@github.com:jlanzarotta/bufexplorer.git
[submodule "sources_non_forked/emmet-vim"]
	path = sources_non_forked/emmet-vim
	url = https://github.com/mattn/emmet-vim
[submodule "sources_non_forked/fzf.vim"]
	path = sources_non_forked/fzf.vim
	url = git@github.com:junegunn/fzf.vim.git
[submodule "sources_non_forked/goyo.vim"]
	path = sources_non_forked/goyo.vim
	url = https://github.com/junegunn/goyo.vim
[submodule "sources_non_forked/limelight.vim"]
	path = sources_non_forked/limelight.vim
	url = git@github.com:junegunn/limelight.vim.git
[submodule "sources_non_forked/vim-zenroom2"]
	path = sources_non_forked/vim-zenroom2
	url = git@github.com:amix/vim-zenroom2.git
[submodule "sources_non_forked/nerdtree"]
	path = sources_non_forked/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "sources_non_forked/open_file_under_cursor.vim"]
	path = sources_non_forked/open_file_under_cursor.vim
	url = git@github.com:amix/open_file_under_cursor.vim.git
[submodule "sources_non_forked/coc.nvim"]
	path = sources_non_forked/coc.nvim
	url = git@github.com:neoclide/coc.nvim.git
